@use '../global/resets';

.approach-section {
	background: resets.$light-green;
	margin-bottom: 6em;
	padding: 8em 0;

	.container {
		width: 90%;
		margin: 0 auto;

		.text-wrap {
			margin-bottom: 5em;

			.wrap {
				max-width: 500px;
				margin: 0 auto 1.9em;
				text-align: center;

				.heading {
					font-size: 2.3rem;
					line-height: 50px;
					@include resets.heading();
					color: #fff;
				}

				.subtext {
					color: #fff;
					width: 80%;
					line-height: 30px;
					margin: 0 auto;
				}
			}

			.btn-wrap {
				text-align: center;

				.btn {
					@include resets.primary-btn();
					width: 80%;
					margin: 0 auto;
				}
			}
		}

		.cards-wrap {
			display: grid;
			gap: 2em;

			.wrap {
				background: resets.$dark-green;
				border-radius: 20px;
				padding: 2em 0;
				min-height: 400px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				@include resets.transBeforeElems();
				gap: 1em;

				.text-content {
					display: flex;
					align-items: center;
					justify-content: center;

					.text-wrapper {
						width: 80%;
						text-align: center;
						color: #fff;

						.heading {
							@include resets.heading();
							font-size: 1.4rem;
							color: #fff;
							position: relative;
							margin-bottom: 0.6em;

							&::after {
								content: '';
								position: absolute;
								top: 95%;
								left: 0;
								height: 2px;
								width: 100%;
								background: resets.$gradient;
							}
						}

						.text {
							line-height: 25px;
							@include resets.montserrat-font();
							font-size: 14px;
							font-weight: 500;
						}
					}
				}

				.img-wrap {
					height: 200px;
					width: 90%;
					margin: 0 auto;
					background: orange;
					border-radius: 20px;

					.img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 20px;
					}
				}
			}
		}
	}

	@media screen and (min-width: 62em) {
		.container {
			width: 80%;

			.text-wrap {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 3em;

				.wrap {
					margin: unset;

					.heading {
						margin-bottom: 0.6em;
						font-size: 2.5rem;
						text-align: left;
					}

					.subtext {
						margin: unset;
						text-align: left;
						width: unset;
					}
				}
				.btn-wrap {
					display: unset;

					.btn {
						width: unset !important;
						// background: red !important;
					}
				}
			}

			.cards-wrap {
				display: flex;
				gap: 1em;

				.wrap {
					width: 100%;
					border-radius: 20px;
				}
			}
		}
	}
}
