@use '../global/resets';

.cta-section {
	margin-bottom: 5em;
	@include resets.transBeforeElems();

	.container {
		height: 300px;
		width: 90%;
		background: teal;
		margin: 0 auto;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		.img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 20px;
			// z-index: ;
			opacity: 0.8;
			object-position: center;
		}

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background: rgba(0, 0, 0, 0.6);
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			border-radius: 20px;
		}

		.text-wrap {
			text-align: center;
			max-width: 400px;
			position: relative;
			z-index: 2;

			.heading {
				@include resets.heading();
				@include resets.sora-font();
				font-size: 2rem;
				color: #fff;
				position: relative;
				margin-bottom: 0.6em;
				line-height: 40px;
				font-weight: 400;
			}

			.btn-wrap {
				.btn {
					@include resets.primary-btn();
				}
			}
		}

		@media screen and (min-width: 43em) {
		}

		@media screen and (min-width: 62em) {
			height: 400px;

			.text-wrap {
				max-width: 500px;

				.heading {
					font-size: 3rem;
					line-height: 60px;
				}
			}
		}
	}
}
