@use '../global/resets';

.testimonial-section {
	// display: none;
	margin-bottom: 10em;
	padding-top: 7em;

	.container {
		width: 90%;
		margin: 0 auto;

		.heading-wrap {
			display: flex;
			justify-content: center;
			margin-bottom: 5em;
			position: relative;
			// background: red;

			.heading {
				font-size: 2.3rem;
				color: resets.$grey();

				text-align: center;
				// background: teal;
			}

			.rating-img1 {
				position: absolute;
				top: -90%;
				left: 0;
				width: 150px;
				transform: rotate(10deg);
				display: none;
			}

			.rating-img2 {
				position: absolute;
				top: -110%;
				right: 5%;
				width: 120px;
				transform: rotate(-10deg);
				display: none;
			}

			@media screen and (min-width: 43em) {
				.heading {
					width: 70%;
				}

				.rating-img1 {
					width: 140px;
					transform: rotate(0);
				}
			}

			@media screen and (min-width: 62em) {
				.heading {
					width: 70%;
					font-size: 2.5rem;
					width: 50%;
				}

				.rating-img1,
				.rating-img2 {
					display: inline-block;
				}

				.rating-img1 {
					top: -60%;
					left: 10%;
					width: 170px;
				}

				.rating-img2 {
					top: -150%;
					right: 15%;
					width: 150px;
					transform: rotate(0);
				}
			}
		}

		.wrapper {
			display: grid;
			gap: 2em;
			// background: red;
			margin-bottom: 4em;

			.review-wrap {
				width: 100%;

				.quote-icon {
					// background: red;
					position: relative;
					height: 100px;

					.quote {
						width: 100px;
						position: absolute;
						top: 10%;
						left: -5%;
						height: 100%;
					}
				}

				.text {
					line-height: 30px;
					margin-bottom: 1.8em;
					color: resets.$light-gray;
				}

				.wrap {
					.heading {
						color: resets.$light-green;
						margin-bottom: 0.3em;
					}

					.location {
						color: resets.$dark-green;
					}
				}
			}

			@media screen and (min-width: 62em) {
				display: flex;
			}
		}
	}

	.before-after {
		background: rgba(188, 248, 22, 0.568);
		width: 100%;
		padding: 6em 0;

		.wrap {
			display: grid;
			gap: 2em;

			.baf-img {
				width: 100%;
				object-fit: cover;
			}
		}

		@media screen and (min-width: 43em) {
			.wrap {
				width: 80%;
				margin: 0 auto;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
		}

		@media screen and (min-width: 62em) {
			.wrap {
				// grid-template-columns: repeat(4, 1fr);
				width: 95%;
				display: flex;
				gap: 1em;

				.img-wrap {
					width: 100%;
					height: 300px;

					.baf-img {
						object-fit: contain;
					}
				}
			}
		}
	}

	@media screen and (min-width: 62em) {
		.container {
			width: 80%;
		}
	}
}
