@use '../global/resets';

.about-section {
	margin-bottom: 4em;

	.container {
		.heading-wrap {
			margin-bottom: 2em;
			display: flex;
			align-items: center;
			justify-content: center;

			.heading {
				font-size: 30px;
				color: resets.$grey();
				width: 70%;
				text-align: center;
				@include resets.transBeforeElems();
			}
		}

		.info-layout-wrap {
			display: grid;
			// gap: 2em;
			grid-template-areas:
				'info-content-wrap'
				'image-wrap';

			.image-wrap {
				display: none;
				gap: 1em;
				grid-area: image-wrap;
				padding: 3em 0;
				width: 90%;
				margin: 0 auto;

				.img-grid-wrap {
					display: flex;
					justify-content: center;
					gap: 1em;

					.img1 {
						width: 300px;
						object-fit: cover;
						border-radius: 15px;
					}
				}

				.img-wrap {
					.img {
						width: 100%;
						height: 200px;
						object-fit: cover;
					}
				}
			}

			.info-content-wrap {
				width: 90%;
				margin: 0 auto;

				padding: 2em;
				position: relative;
				grid-area: info-content-wrap;

				&::after {
					content: '';
					position: absolute;
					inset: 0;
					background: resets.$dark-green;
					// background: rgb(0, 0, 0, 0.5);
					// backdrop-filter: blur(20px);
					// -webkit-backdrop-filter: blur(20px);
					height: 100%;
					width: 100%;
					border-radius: 15px;
				}

				.content-wrap {
					position: relative;
					z-index: 2;
					display: grid;
					gap: 2em;
					margin-bottom: 2em;
					@include resets.transBeforeElems();

					.text-content {
						color: #fff;
						line-height: 30px;
						font-size: 15px;
					}
				}

				.btn-wrap {
					position: relative;
					z-index: 2;

					display: flex;
					gap: 0.5em;
					@include resets.transBeforeElems();

					.btn {
						@include resets.primary-btn();

						&:nth-child(1) {
							background: resets.$light-green;
							color: resets.$accent-color;
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 62em) {
		margin-bottom: 3em;

		.container {
			width: 80%;
			margin: 0 auto;

			.heading-wrap {
				width: 70%;
				margin: 0 auto;

				.heading {
					font-size: 2.5rem;
				}
			}

			.info-layout-wrap {
				// background: red;
				grid-template-areas: 'image-wrap info-content-wrap';
				gap: 4em;
				grid-template-columns: 1fr 500px;

				.image-wrap {
					width: 100% !important;
					background: unset;
					display: grid;

					.img-grid-wrap {
						.img1 {
							width: 100%;
						}
					}

					.img-wrap {
						height: 300px;

						.img {
							height: 100%;
							border-radius: 15px;
						}
					}
				}

				.info-content-wrap {
					margin: unset;

					&::after {
						all: unset;
					}

					.content-wrap {
						.text-content {
							color: resets.$grey;
							opacity: 0.6;
						}
					}

					.btn-wrap {
						.btn {
							&:nth-child(1) {
								background: resets.$dark-green;
								color: resets.$accent-color;
							}
						}
					}
				}
			}
		}
	}
}
